.bgimg-1 {
  background-image: url(img/base_background.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 2.5vw;
}

.meta {
  font-size: 1vw;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.xout {
  text-align: right;
  color: red;
  background-color: white;
  margin-left: 98%;
}

.doi {
  font-size: 1.25vw;
}

.text {
  font-size: 1.25vw;
}

.abstract {
  font-size: 1.25vw;
  line-height: 1.75em;
}

.menu {
  margin-top: 300px;
  margin-left: 150px;
}

.abstract:hover:not(.para.relation) {
  cursor: pointer;
}

.para.relation {
  color: grey;
  opacity: 0.5;
}

.entity {
  border-radius: 5px;
  color: #d7d1b9;
  padding: 0.01em 0.1em;
}

.entity:hover {
  padding: 0.05em 0.15em;
  cursor: pointer;
}

.selected {
  padding: 0.05em 0.15em;
  font-weight: "bold";
}

.selected.relation{
  border-width: 2px;  
  border-style: dashed;
  border-color: white;
}
 
.text.relation {
  color: grey;
}

.interactive-menu {
  margin-top: 25px;
  margin-left: -50px;
}

.relationship {
  border-radius: 5px;
  color: #d7d1b9;
  padding: 0.025em 0.5em;
  margin-left: 5px;
}

.canvas.abstract {
  margin: 0 0 10px;
}

.category {
  border-radius: 5px;
  color: #d7d1b9;
  padding: 0.025em 0.5em;
  margin-left: 5px;
}

.mol {
  background-color: #e56b6f;
  white-space: nowrap;
}

.cpt {
  background-color: #2a9d8f;
  white-space: nowrap;
}

.pro {
  background-color: #264653;
  white-space: nowrap;
}

.cmt {
  background-color: #e76f51;
  white-space: nowrap;
}

.smt {
  background-color: #00296b;
  white-space: nowrap;
}

.equip {
  background-color: #f94144;
  white-space: nowrap;
}

.dsc {
  background-color: #3a5a40;
  white-space: nowrap;
}

.res {
  background-color: #cc6677;
}

.prod {
  background-color: #332288;
}

.infl {
  background-color: #aa4499;
}

.char {
  background-color: #117733;
}

.feat {
  background-color: #882255;
}

.use {
  background-color: #004488;
}

.syn {
  background-color: #999933;
}

.exam {
  background-color: #997700;
}

.submit-labels {
  margin-top: 75px;
}

#row canv {
}
#relevance_column {
  float: left;
  width: 30%;
  text-align: left;
}

#scitext_column {
  float: left;
  width: 70%;
}

a.apple-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-family: appleGaramond;
  font-size: 2vw;

  background-color: #efefef;
  color: black;
  border-color: black;
  border-width: 0.5px;
  border-radius: 0px;

  text-align: center;
  width: 75%;
  margin-top: 15px;
}

#CI-button {
  background-image: url(img/CI_icon_rs.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-left: 1vw;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  position: fixed;
  outline: none;
}

#CI-button-selected {
  background-image: url(img/CI_icon_selected.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-left: 1vw;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  position: fixed;
  outline: none;
}

#FR-button {
  background-image: url(img/FR_icon_rs.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-left: 7.25vw;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  position: fixed;
  outline: none;
}

#FR-button-selected {
  background-image: url(img/FR_icon_selected.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-left: 7.25vw;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  position: fixed;
  outline: none;
}

#BioMin-button {
  background-image: url(img/biomin_icon_rs.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-left: 13.5vw;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  position: fixed;
  outline: none;
}

#BioMin-button-selected {
  background-image: url(img/biomin_icon_selected.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-left: 13.5vw;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  position: fixed;
  outline: none;
}

#zero-button {
  background-image: url(img/0_icon.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-top: 6.25vw;
  margin-left: 1vw;
  border: none;
  position: fixed;
  outline: none;
}

#zero-button-selected {
  background-image: url(img/0_icon_selected.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-top: 6.25vw;
  margin-left: 1vw;
  border: none;
  position: fixed;
  outline: none;
}

#one-button {
  background-image: url(img/1_icon.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-top: 6.25vw;
  margin-left: 7.25vw;
  border: none;
  position: fixed;
  outline: none;
}

#one-button-selected {
  background-image: url(img/1_icon_selected.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-top: 6.25vw;
  margin-left: 7.25vw;
  border: none;
  position: fixed;
  outline: none;
}

#two-button {
  background-image: url(img/2_icon.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-top: 6.25vw;
  margin-left: 13.5vw;
  border: none;
  position: fixed;
  outline: none;
}

#two-button-selected {
  background-image: url(img/2_icon_selected.png);
  background-position: center center;
  background-size: 100% 100%;
  height: 4.5vw;
  width: 4.5vw;
  background-color: #d7d1b9;
  margin-top: 6.25vw;
  margin-left: 13.5vw;
  border: none;
  position: fixed;
  outline: none;
}

#relevance-submit {
  background-color: black;
  height: 4vw;
  width: 17vw;
  text-align: center;
  color: #d7d1b9;
  font-family: motterTektura;
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 12.5vw;
  margin-left: 1vw;
  border-radius: 10px;
  position: fixed;
  outline: none;
}

#relevance-submit-down {
  background-color: rgba(0, 9, 86, 100);
  height: 4vw;
  width: 17vw;
  text-align: center;
  color: #d7d1b9;
  font-family: motterTektura;
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 12.5vw;
  margin-left: 1vw;
  border-radius: 10px;
  position: fixed;
  outline: none;
}

#submit-message {
  color: red;
  font-size: 1vw;
  margin-top: 17vw;
  margin-left: 7.5vw;
  position: fixed;
}

.lucky-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-family: appleGaramond;
  font-size: 2.5vw;
  display: inline-block;

  background-color: #efefef;
  color: black;
  border-color: black;
  border-width: 0.5px;
  border-radius: 0px;

  text-align: center;
  width: 30%;
  margin-top: 60px;
}

#lucky-div {
  display: block;
  text-align: center;
  width: 100%;
}

[tabindex="0"] {
  outline: none;
}

/* Test Formatting */
.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  position: absolute;
}

.search-bar {
  width: 100%;
  font-size: 2vw;
}

div.form {
  display: block;
  text-align: center;
  width: 100%;
}

#betogoogle {
  padding-top: 75px;
  font-size: 15vw;
  text-align: center;
}

#fixed {
  bottom: 0px;
  position: fixed;
  left: 0px;
}

.audiodiv {
  length: 100%;
  width: 100%;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 80%;
  height: 45px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: inline-block;
  top: 51px;
  width: 80%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.footer {
  margin: 9px 20px;
  font-size: 12px;
  color: #777;
}

/* ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: disc;
  list-style-position: inside;
} */

/* .classify {
  font-size: 115%;
  text-align: center;
  transform: translate(10%, 50%);
}

.progress {
  width: 50%
}

#label-submit {
  font-size: 150%;
}

.label-container {
  margin-top: 25px;
}

#bar-label {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
} */

