<html>
  <head>
      {% if title %}
      <title>{{ title }} - BETO Web API</title>
      {% else %}
      <title>BETO Web API</title>
      {% endif %}
  </head>
  <body>
      <div>
          {% if current_user.is_authenticated %}
          Hi, {{ current_user.username }}!
          {% else %}
          Welcome
          {% endif %}
          <a href="{{ url_for('label') }}">Label</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
  </body>
</html>
